@charset "UTF-8";
/* Progress Bar */
/* line 6, ../src/css.scss */
body {
  background: #353433;
  color: #e9e8e7;
}

/* line 11, ../src/css.scss */
body, input {
  font: 17px Helvetica, sans-serif;
}

/* line 15, ../src/css.scss */
.progress-bar-container {
  border: 1px solid #454443;
  background: #090807;
  padding: 1px;
  width: 300px;
  position: absolute;
  top: 200px;
  left: 50%;
  margin-left: -151px;
  z-index: 50;
}
/* line 27, ../src/css.scss */
.progress-bar-container .progress-bar {
  background: #8b8685;
  height: 18px;
  width: 0%;
  -moz-transition: 8s width ease-out;
  -webkit-transition: 8s width ease-out;
  -ms-transition: 8s width ease-out;
  -o-transition: 8s width ease-out;
  transition: 8s width ease-out;
}

/* line 40, ../src/css.scss */
html, body, #main, .viewport {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* line 45, ../src/css.scss */
.viewport {
  border-spacing: 0;
  table-layout: fixed;
  width: 100%;
}
/* line 49, ../src/css.scss */
.viewport .column {
  margin: 0;
  padding: 0;
  width: 33%;
  border-left: 1px solid #090807;
}
/* line 54, ../src/css.scss */
.viewport .column:first-child {
  border-left: 0;
}
/* line 57, ../src/css.scss */
.viewport .column .column-content {
  position: relative;
  overflow: hidden;
}

/* line 64, ../src/css.scss */
.panel {
  background: #353433;
  height: 100%;
}
/* line 68, ../src/css.scss */
.panel .panel-content, .panel .panel-content .panel-clip, .panel .panel-content .panel-view {
  height: 100%;
}
/* line 72, ../src/css.scss */
.panel .panel-clip {
  overflow: hidden;
  position: relative;
}
/* line 76, ../src/css.scss */
.panel .panel-view {
  position: relative;
  white-space: nowrap;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: 0.3s -webkit-transform, 0.3s left;
  -moz-transition: 0.3s left;
}
/* line 83, ../src/css.scss */
.panel .sub-panel {
  width: 100%;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  white-space: normal;
  position: relative;
}

/* line 92, ../src/css.scss */
h1 {
  background: #375893;
  height: 48px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 48px;
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid #0D111A;
  -webkit-transform: translate3d(0, 0, 0);
}

/* line 105, ../src/css.scss */
.listbox {
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: 48px;
  left: 0;
  right: 0;
  bottom: 0;
}
/* line 111, ../src/css.scss */
.listbox, .listbox .listbox-content {
  background: #353433;
}

/* line 116, ../src/css.scss */
.listbox-content {
  position: relative;
  -webkit-transform: translate3d(0, 0, 0);
}

/* line 121, ../src/css.scss */
.listitem {
  border-bottom: 1px solid #454443;
}
/* line 123, ../src/css.scss */
.listitem.selected, .listitem.tapping {
  background: #8b8685;
  color: #000;
}

/* line 141, ../src/css.scss */
.songitem {
  height: 48px;
  line-height: 48px;
  padding-left: 8px;
}
/* line 145, ../src/css.scss */
.songitem img {
  vertical-align: middle;
  margin-right: 4px;
}
/* line 149, ../src/css.scss */
.songitem .difficulties {
  position: absolute;
  top: 5px;
  right: 10px;
  line-height: 37px;
}
/* line 155, ../src/css.scss */
.songitem .difficulty {
  vertical-align: top;
  display: inline-block;
  height: 35px;
  line-height: 35px;
  font-weight: bold;
  padding: 0 14px;
  border: 1px solid #454443;
}
/* line 163, ../src/css.scss */
.songitem .difficulty.on {
  background: #353433;
  color: #e9e8e7;
  text-shadow: 0 -1px 0 #090807;
}
/* line 168, ../src/css.scss */
.songitem .difficulty.off {
  background: #151413;
  color: #8b8685;
}
/* line 172, ../src/css.scss */
.songitem .difficulty:not(:first-child) {
  border-left: 0;
}
/* line 175, ../src/css.scss */
.songitem .difficulty:first-child {
  -webkit-border-radius-top-left: 4px;
  -o-border-radius-top-left: 4px;
  -ms-border-radius-top-left: 4px;
  -khtml-border-radius-top-left: 4px;
  border-radius-top-left: 4px;
  -moz-border-radius-topleft: 4px;
  -webkit-border-radius-top-right: 0;
  -o-border-radius-top-right: 0;
  -ms-border-radius-top-right: 0;
  -khtml-border-radius-top-right: 0;
  border-radius-top-right: 0;
  -moz-border-radius-topright: 0;
  -webkit-border-radius-bottom-right: 0;
  -o-border-radius-bottom-right: 0;
  -ms-border-radius-bottom-right: 0;
  -khtml-border-radius-bottom-right: 0;
  border-radius-bottom-right: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-radius-bottom-left: 4px;
  -o-border-radius-bottom-left: 4px;
  -ms-border-radius-bottom-left: 4px;
  -khtml-border-radius-bottom-left: 4px;
  border-radius-bottom-left: 4px;
  -moz-border-radius-bottomleft: 4px;
}
/* line 178, ../src/css.scss */
.songitem .difficulty:last-child {
  -webkit-border-radius-top-left: 0;
  -o-border-radius-top-left: 0;
  -ms-border-radius-top-left: 0;
  -khtml-border-radius-top-left: 0;
  border-radius-top-left: 0;
  -moz-border-radius-topleft: 0;
  -webkit-border-radius-top-right: 4px;
  -o-border-radius-top-right: 4px;
  -ms-border-radius-top-right: 4px;
  -khtml-border-radius-top-right: 4px;
  border-radius-top-right: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-radius-bottom-right: 4px;
  -o-border-radius-bottom-right: 4px;
  -ms-border-radius-bottom-right: 4px;
  -khtml-border-radius-bottom-right: 4px;
  border-radius-bottom-right: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-radius-bottom-left: 0;
  -o-border-radius-bottom-left: 0;
  -ms-border-radius-bottom-left: 0;
  -khtml-border-radius-bottom-left: 0;
  border-radius-bottom-left: 0;
  -moz-border-radius-bottomleft: 0;
}
/* line 180, ../src/css.scss */
.songitem .difficulty:last-child:first-child {
  -webkit-border-radius-top-left: 4px;
  -o-border-radius-top-left: 4px;
  -ms-border-radius-top-left: 4px;
  -khtml-border-radius-top-left: 4px;
  border-radius-top-left: 4px;
  -moz-border-radius-topleft: 4px;
  -webkit-border-radius-top-right: 4px;
  -o-border-radius-top-right: 4px;
  -ms-border-radius-top-right: 4px;
  -khtml-border-radius-top-right: 4px;
  border-radius-top-right: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-radius-bottom-right: 4px;
  -o-border-radius-bottom-right: 4px;
  -ms-border-radius-bottom-right: 4px;
  -khtml-border-radius-bottom-right: 4px;
  border-radius-bottom-right: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-radius-bottom-left: 4px;
  -o-border-radius-bottom-left: 4px;
  -ms-border-radius-bottom-left: 4px;
  -khtml-border-radius-bottom-left: 4px;
  border-radius-bottom-left: 4px;
  -moz-border-radius-bottomleft: 4px;
}
/* line 185, ../src/css.scss */
.courselist .songitem {
  background: #090807;
}

/* line 191, ../src/css.scss */
.courselist, .courselist .listbox-content {
  background: #252423;
}

/* line 196, ../src/css.scss */
.courseitem {
  color: #9b9695;
  height: 48px;
  line-height: 48px;
  position: relative;
  padding-left: 8px;
}
/* line 198, ../src/css.scss */
.courseitem.highlighted {
  background: #353433;
  color: #e9e8e7;
}
/* line 206, ../src/css.scss */
.courseitem img {
  vertical-align: middle;
}
/* line 209, ../src/css.scss */
.courseitem .songs {
  position: absolute;
  top: 3px;
  right: 8px;
}
/* line 213, ../src/css.scss */
.courseitem .songs img {
  margin-left: -6px;
  vertical-align: top;
}
/* line 218, ../src/css.scss */
.courseitem .rank {
  display: inline-block;
  width: 40px;
  color: #8b8685;
  font-weight: bold;
  padding-right: 6px;
  text-align: right;
}

/* line 228, ../src/css.scss */
.back {
  position: absolute;
  top: 7px;
  height: 30px;
  line-height: 30px;
  left: 8px;
  padding: 0 6px;
  background: #2D4878;
  -webkit-border-radius-top-left: 4px;
  -o-border-radius-top-left: 4px;
  -ms-border-radius-top-left: 4px;
  -khtml-border-radius-top-left: 4px;
  border-radius-top-left: 4px;
  -moz-border-radius-topleft: 4px;
  -webkit-border-radius-top-right: 4px;
  -o-border-radius-top-right: 4px;
  -ms-border-radius-top-right: 4px;
  -khtml-border-radius-top-right: 4px;
  border-radius-top-right: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-radius-bottom-right: 4px;
  -o-border-radius-bottom-right: 4px;
  -ms-border-radius-bottom-right: 4px;
  -khtml-border-radius-bottom-right: 4px;
  border-radius-bottom-right: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-radius-bottom-left: 4px;
  -o-border-radius-bottom-left: 4px;
  -ms-border-radius-bottom-left: 4px;
  -khtml-border-radius-bottom-left: 4px;
  border-radius-bottom-left: 4px;
  -moz-border-radius-bottomleft: 4px;
  border: 1px solid #3D62A4;
  font-size: 0.9em;
}
/* line 239, ../src/css.scss */
.back.tapping, .back:hover {
  background: #1d3868;
}

/* line 244, ../src/css.scss */
[data-tappable] {
  cursor: pointer;
}
